---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Description from '../components/Description.astro';
import Clock from '../components/Clock.astro';
import SocialLink from '../components/SocialLink.astro';
import Projects from '../components/Projects.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main
      class="relative flex flex-col items-center bg-white min-h-screen font-inter"
    >
      <div
        id="main-container"
        class="w-full min-h-screen bg-white z-10 px-4 sm:px-6 md:px-8 py-6 sm:py-8 transition-all duration-500 ease-in-out shadow-[0_0_20px_rgba(0,0,0,0.1)]"
      >
        <div
          class="border-none bg-transparent mb-8 sm:mb-16 w-full max-w-[400px] mx-auto shadow-none"
        >
          <div class="flex flex-col gap-8 sm:gap-12 p-0 sm:p-4">
            <Header />
            <Description />
            <Projects />
						<SocialLink />
						<Clock />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
